---
// @ts-ignore
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
var publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

// Get only the first three entries after sorting
publishedBlogEntries = publishedBlogEntries.slice(0, 3);

---

<div class="mt-0 bg-[#F2F2F2] mx-auto">
  <div class="mt-[4rem] bg-[#F2F2F2] max-w-7xl mx-auto">
    <div class="mx-[2rem] pt-7 lg:mx-[5.5rem]">
      <button
        class="text-[#7BBB49] font-bold py-2 text-[12px] px-7 border border-[#7BBB49] rounded-lg"
        >WHAT'S NEWS & BLOG</button
      >
    </div>
    <div class="md:flex mx-[2rem] lg:mx-[5.5rem] py-2 pt-6 justify-between">
      <p class="font-bold text-[#000000] text-[22px] lg:text-[25px]">
        Latest Developments in the Business Sector
      </p>
      <button
        class="mt-3 md:mt-0 flex gap-3 rounded-md font-bold bg-[#7BBB49] text-white text-[13px] items-center justify-center py-2 px-7 whitespace-nowrap">
        SEE ALL POST
        <img src="Images/arrow white.png" class="w-4 h-4" />
      </button>
    </div>
    <div class="mx-[3rem] md:mx-[2rem] py-4 lg:px-14">
      <div
        class="mb-4 grid grid-cols-1 md:grid-cols-3 gap-8 lg:gap-12 space-x-2 -mx-1 lg:-mx-4">
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
          <div class="relative">
                    <div class="overflow-hidden bg-white rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] relative">
                      <Picture
                        src={blogPostEntry.data.image.src}
                        alt={blogPostEntry.data.image.alt}
                        sizes="(max-width: 800px) 100vw, 800px"
                        widths={[200, 400, 800]}
                        aspectRatio="16:9"
                        background="#ffffff"
                        fit="cover"
                        position="center"
                        loading={index <= 2 ? "eager" : "lazy"}
                        decoding={index <= 2 ? "sync" : "async"}
                        class="w-full rounded-md"
                      />
                      <div class="absolute top-0 left-0 p-2">
                        <button class="text-[10px] bg-white border border-[#7BBB49] rounded-full text-[#7BBB49] px-5 py-[0.2rem]">
                          Tech
                        </button>
                        <button class="text-[10px] bg-white border border-[#7BBB49] rounded-full text-[#7BBB49] px-5 py-[0.2rem]">
                          Product
                        </button>
                      </div>
                      <div class="space-y-3 px-4 leading-tight p-2 md:p-4">
                        <div class="flex gap-2 mt-3">
                          <time
                            class="text-[#646464] items-center gap-2 flex text-[10px]"
                            datetime={blogPostEntry.data.publishDate.toISOString()}>
                            {blogPostEntry.data.publishDate.toDateString()}
                          </time>
                        </div>

                        <p class="text-[13px] text-[#000000] text-[16px] font-semibold">
                          {blogPostEntry.data.title}
                        </p>
                        <p class="text-[#707070] text-[13px] leading-[22px] Inter">
                          {blogPostEntry.data.snippet}
                        </p>
                      </div>
                      <footer class="flex items-center justify-between leading-none px-4 mb-4">
                        <div class="flex items-center space-x-2">
                          <a
                            href={`/blog/${blogPostEntry.slug}`}
                            class="text-[13px] items-center text-[#646464] font-bold flex gap-2 space-x-2">
                            Read more
                            <span>
                              <img
                                class="w-4 h-4"
                                src="Images/arrow (21)@2x.png"
                              />
                            </span>
                          </a>
                        </div>
                      </footer>
                    </div>
                  </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
<!-- <div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start a website
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div> -->
